<div class="parent-of-container">
  <div class="container">
    <!-- <div class="row"> -->
    <!--  <div class="col-sm-10 col-sm-offset-1"> -->
    <mat-card color="primary">
      <mat-card-header>
        <mat-card-title>{{ "change_password" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <form [formGroup]="formGroup" (ngSubmit)="resetPassword($event)"> -->
        <form [formGroup]="formGroup" (ngSubmit)="submit($event)">
          <mat-form-field class="input-field">
            <mat-label>{{ "username" | translate }}</mat-label>
            <input
              matInput
              type="text"
              placeholder="EX: John_LLC123"
              name="username"
              required
              formControlName="username"
              id="username"
              maxlength="30"
            />
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>{{ "defPassword" | translate }}</mat-label>
            <input
              matInput
              type="{{ showPassword ? 'text' : 'password' }}"
              name="default_password"
              required
              formControlName="default_password"
              id="default_password"
            />
            <!-- <mat-icon
                    matSuffix
                    (click)="toggleShowPassword()"
                    style="cursor: pointer;"
                  >
                    {{ showPassword ? 'visibility' : 'visibility_off' }}
                  </mat-icon> -->
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>{{ "newpassword" | translate }}</mat-label>
            <input
              matInput
              type="{{ showPassword ? 'text' : 'password' }}"
              name="new_password"
              required
              formControlName="new_password"
              id="new_password"
            />
            <!-- <mat-icon
                    matSuffix
                    (click)="toggleShowPassword()"
                    style="cursor: pointer;"
                  >
                    {{ showPassword ? 'visibility' : 'visibility_off' }}
                  </mat-icon> -->
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>{{ "renewpassword" | translate }}</mat-label>
            <input
              matInput
              type="{{ showPassword ? 'text' : 'password' }}"
              name="re_newpassword"
              required
              formControlName="re_newpassword"
              id="re_newpassword"
            />
            <mat-error
              *ngIf="formGroup.get('re_newpassword').hasError('mismatch')"
            >
              {{ "notMatchedPassword" | translate }}
            </mat-error>
            <!-- <mat-icon
                    matSuffix
                    (click)="toggleShowPassword()"
                    style="cursor: pointer;"
                  >
                    {{ showPassword ? 'visibility' : 'visibility_off' }}
                  </mat-icon> -->
          </mat-form-field>

          <ng-container>
            <button mat-raised-button type="submit" color="primary">
              {{ "resetPass" | translate }}
            </button>
          </ng-container>

          <mat-error *ngIf="formGroup.hasError('passwordMismatch')"
            >Passwords do not match</mat-error
          >
        </form>
      </mat-card-content>
    </mat-card>
    <!-- </div> -->
    <!-- </div> -->
  </div>
  <!-- <div *ngIf="isLoading" class="cssload-container">
      <mat-spinner></mat-spinner>
    </div> -->
</div>
