<footer>
  <div class="footer-content">
    <div class="footer-text">
      &copy; 2024 Company Name 
    </div>
    <div class="footer-text">
      Software Development Team. All rights reserved. 
    </div>
    <div class="icons">
      <!-- Add your icons here -->
      <a [href]="facebookUrl" target="_blank">
        <img src="assets/Images/icons/facebook-f.svg" alt="Facebook" matTooltip="Facebook" matTooltipPosition="above" class="social-icon">
      </a>
      <a [href]="linkedinUrl" target="_blank">
        <img src="assets/Images/icons/linkedin.svg" alt="LinkedIn" matTooltip="LinkedIn" matTooltipPosition="above" class="social-icon">
      </a>
      <a [href]="emailUs" target="_blank">
        <img src="assets/Images/icons/envelope-regular.svg" alt="Email us" matTooltip="Email us" matTooltipPosition="above" class="social-icon">
      </a>
  
    </div>
  </div>
</footer>