<div class="parent-of-container">
  <div class="jumbotron jumbotron-fluid bg-dark text-light">
    <div class="container animation-container">
      <div class="text-center">
        <h1 class="display-4 animation-text">Angular Template with Side Navbar</h1>
        <p>.</p>
        <h2 class="display-4 animation-text">You are Signed-in with ..</h2>
        <h2 class="display-4 animation-text"> hardcoded <strong>JWT token!</strong></h2>
        <p>.</p>

        <h3 class="display-4 animation-text"> Side Navbar's List (Menu) is<strong> Customized to your Role</strong>
         Current token has<strong>  roleId: '41' </strong> , which has all permissions. </h3>


      </div>
      <div class="text-center">
        <!-- <p class="lead animation-text">Customize your Angular Front End Project!</p> -->
      </div>
    </div>
  </div>
</div>